.customers {
	padding-top: 94px;
	padding-bottom: 94px;
	background-color: $secondary-text-color;
}

.customers__title {
	margin-top: 0;
	margin-bottom: 50px;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: $primary-text-color;

	&::first-letter {
		text-transform: capitalize;
	}
}

.customers__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.customers__link {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 170px;
	height: 90px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	border: 1px solid $color-icon;
	border-radius: 4px;
	color: $color-icon;

	&:hover,
	&:focus {
		transform: scale(1.25);
		border: 1px solid $accent-color;
		color: $accent-color;
	}
}

.customers__icon {
	fill: currentColor;
}
