.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: $footer-bg-color;

	& .container {
		display: flex;
		flex-direction: column;

		@media screen and (min-width: 768px) {
			flex-direction: row;
			flex-wrap: wrap;
			align-items: baseline;
		}

		@media screen and (min-width: 1200px) {
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: nowrap;
			align-items: baseline;
		}
	}
}

// .footer__wrapper {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	// align-items: baseline;
// }

/* ADDRESS - BLOCK */

.address-block {
	text-align: center;

	@media screen and (min-width: 768px) {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		width: 50%;
	}

	@media screen and (min-width: 1200px) {
		// margin-right: 70px;
		// width: 230px;
		align-items: start;
	}
}

.address-block__address {
	margin-top: 0;
	margin-bottom: 9px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: $secondary-text-color;
}

.address-block__email {
	display: block;
	margin-bottom: 9px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	font-style: normal;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: $description-text-color;

	&:focus,
	&:hover {
		color: $accent-color;
		cursor: pointer;
	}
}

.address-block__phone {
	display: block;
	margin-top: 0;
	margin-bottom: 60px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	font-style: normal;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: $description-text-color;

	&:focus,
	&:hover {
		color: $accent-color;
		cursor: pointer;
	}

	@media screen and (min-width: 1200px) {
		margin-bottom: 0;
	}
}

/* SOCIAL - BLOCK */
.social-block {
	width: 100%;
	text-align: center;

	@media screen and (min-width: 768px) {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		// justify-content: space-around;
		width: 50%;
	}

	@media screen and (min-width: 1200px) {
		flex-wrap: nowrap;
		align-items: baseline;
	}
}

.social-block__join {
	margin-bottom: 20px;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $secondary-text-color;
}

.social-accounts {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;

	& li {
		margin-right: 10px;
	}

	@media screen and (min-width: 1200px) {
		margin-bottom: 0;
	}
}

.social-accounts__link {
	@extend %social-icons;
	color: $color-icon;

	&:hover,
	&:focus {
		transform: scale(1.25);
		background-color: $accent-color;
		color: $secondary-text-color;
	}
}

.social-accounts__icon {
	fill: currentColor;
}

/* MAILING - BLOCK */

.mailing-block {
	display: flex;

	@media screen and (min-width: 768px) {
		width: 100%;
	}

	@media screen and (min-width: 1200px) {
		justify-content: space-between;
		width: auto;
	}
}

.form-mailing {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-mailing__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media screen and (min-width: 1200px) {
		flex-direction: row;
		align-items: flex-start;
	}
}

.form-mailing__label {
	display: block;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-align: center;
	text-transform: uppercase;
	color: $primary-bg-color;

	@media screen and (min-width: 1200px) {
		display: flex;
	}
}

.form-mailing input {
	width: 100%;
	margin-bottom: 20px;
	padding: 15px 16px;
	background-color: transparent;
	border: 1px solid $description-text-color;
	border-radius: 4px;
	color: rgba(255, 255, 255, 0.6);

	@media screen and (min-width: 768px) {
		width: 450px;
	}

	@media screen and (min-width: 1200px) {
		width: 358px;
		margin-right: 12px;
	}
}

.form-mailing input::placeholder {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}

.form-mailing__button {
	display: flex;
	align-items: center;
	padding: 10px 29px;
	text-transform: capitalize;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	background-color: $accent-color;
	color: $secondary-text-color;
}

.form-mailing__icon {
	margin-left: 10px;
	fill: currentColor;
}
