.header {
	position: relative;
	@media screen and (max-width: 767px) {
		padding-top: 16px;
		padding-bottom: 16px;
	}
}

.header::after {
	@media screen and (min-width: 768px) {
		position: absolute;
		content: '';
		bottom: 0;
		width: 100%;
		max-width: 1600px;
		height: 1px;
		background-color: $portfolio-bg-color;
	}
}

.header__nav {
	display: flex;
	align-items: center;
	@media screen and (max-width: 767px) {
		justify-content: space-between;
	}
}