.occupation {
	display: block;
	padding-bottom: 94px;
	text-align: center;

	@media screen and (max-width: 1200px) {
		display: none;
	}
}

.occupation__title {
	margin-top: 0;
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	color: $primary-text-color;
}

.occupation__title::first-letter {
	text-transform: capitalize;
}

.occupation__list {
	display: flex;
	justify-content: space-between;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	list-style: none;
}

.occupation__list > .occupation__item {
	position: relative;
}

.occupation__description {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 70px;
	padding-top: 27px;
	padding-bottom: 27px;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	background-color: rgba(47, 48, 58, 0.8);
	color: $secondary-text-color;
}
