$primary-text-color: #212121;
$secondary-text-color: #ffffff;
$logo-text-color: #000000;
$description-text-color: #757575;
$footer-text-color: rgba(255, 255, 255, 0.6);
$footer-icon-bg-color: rgba(255, 255, 255, 0.1);
$color-icon: #afb1b8;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$portfolio-bg-color: #e5e5e5;
$footer-bg-color: #2f303a;
$backdrop-bg-color: rgba(0, 0, 0, 0.2);
$portfolio-card-border-color: #eeeeee;
$portfolio-img-hover-color: rgba(33, 150, 243, 0.9);
$accent-color: #2196f3;
